<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home :: head-frag('편집')}"></head>

<body>

  <form th:action="@{/modify.do}" method="post" th:object="${board}">
    <input type="hidden" name="boardId" th:field="*{boardId}">
    <label for="title">제목</label>
    <input type="text" id="title" name="title" th:field="*{title}">
    <br/>
    <label for="contents">내용</label><br/>
    <textarea id="contents" name="contents" th:text="*{contents}"></textarea>
    <br/>
    <button type="submit">수정</button>
  </form>

</body>
</html>